pytesseract
opencv_python
Pillow
PyQt5
PyQt5-sip
PyQtWebEngine
pyqt5-plugins
PyQt5-Qt5
pyqt5-tools
pygame
keyboard
gtts
pdfplumber
datetime
autocorrect
speechrecognition
Pyaudio; python_version<='3.7'
.\wheels\PyAudio-0.2.11-cp38-cp38-win_amd64.whl; python_version=='3.8'
.\wheels\PyAudio-0.2.11-cp39-cp39-win_amd64.whl; python_version=='3.9'
.\wheels\PyAudio-0.2.11-cp310-cp310-win_amd64.whl; python_version=='3.10'